<div>
  <button class="btn btn-outline-secondary btn-sm" type="button" {{ on 'click' @onAddToCart }}>
    {{yield}}
  </button>
  {{@count}}
  {{#if (gt @count 0)}}
    <button class="btn btn-danger btn-sm" type="button" {{ on 'click' @onRemoveFromCart }}><strong>X</strong></button>
  {{/if}}
</div>
