<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid">
    <LinkTo @route="index" class="navbar-brand">MyPhotoShop</LinkTo>
    <div class="d-flex">
      <LinkTo @route="cart"><span>Cart <strong>{{this.cart.total.count}}</strong></span></LinkTo>
      <span class="ms-2">Total <strong>${{this.cart.total.amount}}</strong></span>
    </div>
  </div>
</nav>